<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @country.region %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @country.capital %>
</p>

<p>
  <strong>Language:</strong>
  <%= @country.language %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @country.currency %>
</p>

<% if current_user.admin? && !current_user?(user) %>
  <%= link_to 'Edit', edit_country_path(@country) %> |
<% end %>
<%= link_to 'Back', countries_path %>
