<% country = Restcountry::Country.find_by_name(@country.name) %>

<div class="row">
  <div class="col-md-3">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @country.name %>
    </p>
    
    <p>
      <strong>Region:</strong>
      <%= @country.region %>
    </p>
    
    <p>
      <strong>Capital:</strong>
      <%= @country.capital %>
    </p>
    
    <p>
      <strong>Language:</strong>
      <%= @country.language %>
    </p>
    
    <p>
      <strong>Currency:</strong>
      <%= @country.currency %>
    </p>
    
    <p>
      <strong>Population:</strong>
      <%= number_with_delimiter(country.population, :delimiter => ',', :separator => ".") %>
    </p>
    
  </div>
  <div class="col-md-3">
    <img src="<%= @country.flag %>" alt="Flag of <%= @country.name %>" height="150" class="resizeable"></img>
  </div>
</div>







<% if not current_user.nil?%>
  <% if current_user.admin? && %>
    <%= link_to 'Edit', edit_country_path(@country) %> |
  <% end %>
<% end %>
<%= link_to 'Back', countries_path %>
